<template>
  <div class="page login-page">
    <section class="clean-block clean-form dark">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">Log In</h2>
          <p>Hello ! Welcome to my test.</p>
        </div>
        <form @submit.prevent="userLogin()">
          <div class="form-group">
            <label for="email">Email</label
            ><input
              class="form-control item"
              type="email"
              id="email"
              v-model="user.email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label
            ><input
              class="form-control"
              type="password"
              id="password"
              v-model="user.password"
            />
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="checkbox" /><label
                class="form-check-label"
                for="checkbox"
                >Remember me</label
              >
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Log In</button>
          <router-link to="/inscription">
            <div class="text-center">
              <a class="small">Create an Account!</a>
            </div>
          </router-link>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      user: { email: "", password: "" },
    };
  },
  methods: {
    userLogin() {
      console.log(this.user);
      axios
        .post(this.$API_URL + "/api/auth/login", this.user)
        .then((response) => {
          console.log(response);

          if (response.status === 200) {
            response.data.isAuthed = true;
            this.$store.dispatch("saveJWT", response.data);
            this.$router.push({ name: "home" });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped></style>
