<template>
  <div class="page registration-page">
    <section class="clean-block clean-form dark">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">Registration</h2>
          <p>Hello ! Welcome to my test.</p>
        </div>
        <form @submit.prevent="userSignIn()">
          <div class="form-group">
            <label for="name">Name</label
            ><input class="form-control item" type="text" id="name" v-model="user.name" />
          </div>
          <div class="form-group">
            <label for="email">Email</label
            ><input
              class="form-control item"
              type="email"
              id="email"
              v-model="user.email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label
            ><input
              class="form-control item"
              type="password"
              id="password"
              v-model="user.password"
            />
          </div>
          <button class="btn btn-primary btn-block" type="submit">Sign In</button>
          <router-link to="/connexion">
            <div class="text-center">
              <a class="small">Already have an account? Login!</a>
            </div>
          </router-link>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Register",
  data() {
    return {
      user: { name: "", email: "", password: "" },
    };
  },
  methods: {
    userSignIn() {
      console.log(this.user);
      axios
        .post(this.$API_URL + "/api/auth/signin", this.user)
        .then((response) => {
          console.log(response);
          this.$router.push({ name: "connexion" });
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped></style>
