<template>
  <div class="card">
    <span class="d-flex flex-fill justify-content-between">
      <img
        src="https://www.w3.org/html/logo/downloads/HTML5_sticker.png"
        class="card-img-top"
        alt=""
      />
      <i
        class="fa fa-times-circle fa-2x"
        aria-hidden="true"
        style="color: red; margin-top: 0px"
        @click="removeMe()"
      ></i>
    </span>
    <div class="card-body">
      <h3 class="card-title">{{ product.name }}</h3>
      <p class="card-text">{{ product.type }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductView",
  props: ["product"],
  methods: {
    removeMe() {
      this.$store.dispatch("removeProduct", this.product);
    },
  },
};
</script>

<style scoped></style>
