<template>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
      <a class="navbar-brand logo" href="#">Brigde Africa Test</a
      ><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li
            @click="goTo('home')"
            id="link-accueil"
            class="nav-item"
            role="presentation"
          >
            <a class="nav-link active">Product</a>
          </li>
          <li
            @click="goTo('connexion')"
            id="link-connexion"
            class="nav-item"
            role="presentation"
          >
            <a class="nav-link">
              <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
              Log Out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "TopBar",
  data: function () {
    return {
      prev_active_link: "home",
    };
  },
  methods: {
    goTo(page) {
      console.log("link-" + this.prev_active_link);
      if (!(page === this.prev_active_link)) {
        document
          .getElementById("link-" + this.prev_active_link)
          .classList.remove("active");
        document.getElementById("link-" + page).classList.toggle("active");
        this.prev_active_link = page;
        this.$router.push({ name: page });
      }
    },
  },
};
</script>

<style scoped></style>
