<template>
  <div
    class="modal fade"
    id="addProduct"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New product</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="closeModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form @submit.prevent="saveProduct()">
            <div class="form-group">
              <label for="product-name" class="col-form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="product-name"
                v-model="product.name"
              />
            </div>
            <div class="form-group">
              <label for="product-type" class="col-form-label">Type</label>
              <input
                type="text"
                class="form-control"
                id="product-type"
                v-model="product.type"
              />
            </div>
            <div class="form-group">
              <label for="comment" class="col-form-label">Comment</label>
              <textarea
                class="form-control"
                id="comment"
                v-model="product.comment"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            @click="closeModal()"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" style="margin-right: 35%">
            <i class="fa fa-plus"></i>Add
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as $ from "jquery";
import axios from "axios";

export default {
  name: "AddProduct",
  data() {
    return {
      product: { name: "", type: "", comment: "" },
      products: this.$store.getters.products,
    };
  },
  methods: {
    reset() {
      this.product = {};
    },
    saveProduct() {
      console.log(this.product);
      axios
        .post(this.$API_URL + "/api/product/", this.product)
        .then((response) => {
          console.log(response);

          if (response.status === 200) {
            console.log(JSON.stringify(response.data));
            this.$router.push({ name: "product" });
          }
        })
        .catch((error) => console.log(error));
    },
    closeModal() {
      $("#addProduct").modal("hide");
      this.reset();
    },
  },
};
</script>

<style></style>
