<template>
  <add-product />
  <div class="row" style="margin: 100px auto">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-6">
              <button
                style="float: right; height: 30px; font-size: 0.8rem"
                class="btn btn-primary py-0"
                type="button"
                data-toggle="modal"
                data-target="#addProduct"
              >
                <i class="fas fa-plus"></i> Create
              </button>
            </div>
          </div>
          <p>Test</p>
          <div class="card-columns">
            <div class="card">
              <span class="d-flex flex-fill justify-content-between">
                <img
                  src="https://www.w3.org/html/logo/downloads/HTML5_sticker.png"
                  class="card-img-top"
                  alt=""
                />
                <i
                  class="fa fa-times-circle fa-2x"
                  aria-hidden="true"
                  style="color: red; margin: 0px 0 0 -50px"
                  @click="removeMe()"
                ></i>
              </span>
              <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">{{ product.type }}</p>
              </div>
            </div>
          </div>
          <div class="card-columns">
            <product-view
              v-bind:product="p"
              v-bind:key="p.id"
              v-for="p in this.$store.getters.recus"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductView from "../components/ProductView.vue";
import AddProduct from "./AddProduct.vue";
import axios from "axios";

export default {
  components: { AddProduct, ProductView },
  name: "Product",
  data() {
    return {
      product: { name: "", type: "", comment: "" },
      products: this.$store.getters.products,
    };
  },
  mounted() {
    axios
      .get(this.$API_URL + "/api/product/")
      .then((response) => {
        this.products = response.data.products;
        console.log(JSON.stringify(response.data.products) + "\n\n");
      })
      .catch((error) => console.log(error));
  },
  methods: {
    removeMe() {
      this.$store.dispatch("removeProduct", this.product);
    },
  },
};
</script>

<style scoped></style>
