<template>
  <div>
    <top-bar />
    <router-view />
  </div>
</template>

<script>
import TopBar from "./components/TopBar.vue";

export default {
  components: { TopBar },
  name: "Home",
};
</script>

<style scoped></style>
